---
layout: default
title: Starbash images
---
These are images I've processed with [Starbash](https://github.com/geeksville/starbash) and great tools such as Siril, Graxpert and Blur-exterminator. I hope you
enjoy them, and that we can learn and improve together.

{% for target in targets %}
## [{{ target.name }}]({{ target.url }})
{% if target.image %}![]({{ target.image }}){% endif %}
{% endfor %}