# Starbash Images

This repository is managed by [Starbash](https://github.com/geeksville/starbash)
for [{{ github_username }}](https://github.com/{{ github_username }}).

> **Note:** You probably don't want to manage this repository directly. It is
> automatically served by GitHub at [{{ pages_url }}]({{ pages_url }}).

The raw files used to generate this site are available
[here]({{ repository_tree_url }}).

### Help Shape Starbash
>
> [Starbash](https://github.com/geeksville/starbash) is a young project, and we would
> love to improve it with your help. If you try it, please share your feedback.
>
> With just a few clicks, you can:
>
> - **Auto-process** all of your sessions with sensible defaults you can tweak later.  Built on Siril, Graxpert and Blur-exterminator.
> - **Upload** final images and workflows to GitHub so others can critique and reuse them.
> - It can do all of this right now… *kinda*.